<!doctype html>

{% if message %}
  <h4>{{message}}!</h4>
{% endif %}

<ul>
    <form method="post" action="/add_friends">
        <label for="search">Add Friends</label><br>
        Email ID: <input type="search" name="user_email"><br>
        <input type="submit" value="Add Friend" />
    </form>
</ul>

{% if all_users %}
<h2>List of all Users and their email IDs:</h2>
<ul>
    {% for user in all_users%}
        <li>First Name: {{user[0]}}, Last Name: {{user[1]}}, Email: {{user[2]}}</li>
    {% endfor %}
    </ul>
{% endif %}

<a href='/friends'>Go to Friend List</a>
<br>
<a href='/profile'>Go to my Profile</a>
<br>
<a href='/'>Go home</a>